/* колір основного тексту #212121 */

/* вторинний колір тексту #757575 */

/* білий #ffffff */  

/* чорний #000000 */

/* світлочорний #2f303a */

/* прозорий rgba(255, 255, 255, 0.6) */

/* сірий rgba(255, 255, 255, 0.1) */

/* світлобілий #EEEEEE */

/* білосірий #ececec */

/* блакитний #188ce8 */

/* акцент #2196f3 */

/* колір мережі #AFB1B8 */

/* вторинний колір фону #F5F4FA */

/* вторинний колір фонового зображення #C4C4C4 */





                   /* variables */
                   /* + */

/* :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-blue-color:#188ce8;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --primary-lightblack-color:#2f303a;
    --primary-lightwhite-color: #eeeeee;
    --primary-whitegrey-color: #ececec;
    --primary-transparent-color: rgba(255, 255, 255, 0.6);  
    --primary-grey-color:  rgba(255, 255, 255, 0.1);
    --primary-link-color: #AFB1B8;
    --primary-background-color: #C4C4C4;
    --primary-secondary-color: #f5f4fa;
    --font-mayn: "Roboto", sans-serif;
    --font-secondary:"Raleway", sans-serif; 
} */


 
                /* global reset */
                /* + */
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    outline: transparent;
} */



               /* global */
               /* + */

/* 
body {
    background-color: var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
} */

/* .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} */


         /* header logo styles */
            /* + */
/* 
.header {
    border-bottom: 1px solid var(--primary-whitegrey-color)
}

.header__container {
    display: flex;
    align-items: center;   
}

.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em
}

.black__logo {
    color: var(--primary-black-color);
}

.white__logo {
    color: var(--primary-white-color);
}
 */



           /*nav  contacts*/  
           /* + */
/* 
.nav {
    margin-left: 93px;
}

.nav__list {
    display: flex;
}

.nav__list .nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link {
    position: relative;
    width: calc(100% + 10px);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.nav__current {
   color: var(--accent-color);
}
 
.nav__link.nav__current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list .nav__link:hover,
.nav__list .nav__link:focus {
    color: var(--accent-color);
}


.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contacts__item:not(:last-child) {
    margin-right: 50px;
}


.contacts__icon {
fill: currentColor;
}

.contacts__link:hover, 
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    gap: 10px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

      /* hero */
      /* + */
/* 
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-background-color);
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/img17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
} */



    

/* section (особливості, робота, команда, клієнти, портфолио) */
/* 
.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
} */

/* особливості */
/* 
.feature {
    padding-bottom: 0px;
}
 
.section__subject {
    display: none;
}

.feature__list {
    display: flex;
    gap: 30px;
}

.icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--primary-secondary-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__icon {
    width: 70px;
    height: 70px;
    fill: var(--title-text-color);
}
    
.feature__title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} */



/* робота */
/* 
.picture {
    display: flex;
    gap: 30px;
}


.picture__item {
    position: relative;
}

.picture__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
} */


/* команда + socials*/
/* 
.team {
    background: var(--primary-secondary-color);
 }

 .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__item {
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.socials{
    padding: 30px 10px;
}

.socials__title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.socials__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.socials__list {
    display: flex;
    justify-content: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-link-color);
}
   
.socials__link:hover,
.socials__link:focus {
    background-color: var(--accent-color);
}
  
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
      fill: var(--primary-white-color); 
}
   
    */


/* клієнти */
/* 
.aside {
    display: flex;
    gap: 30px;
}

.aside__link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--primary-link-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aside__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-link-color);
}


.aside .aside__link:focus,
.aside .aside__link:hover {
    border: 1px solid var(--accent-color);
}

.aside__link:focus .aside__icon,
.aside__link:hover .aside__icon {
     fill: var(--accent-color);
}
 */


/* портфолио */
/* 
.container__title {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

 .gallery__item {
    width: 370px;
    margin: 15px;
 }

 .gallery__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .gallery .gallery__item .gallery__link:hover,
 .gallery .gallery__item .gallery__link:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 
 .gallery__item .gallery__link {
    display: block;
 }
    
 .gallery__link:hover .desc {
    transform: translateY(0);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.desc {
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__aside {
    padding: 20px 24px;
    border: 1px solid var(--primary-lightwhite-color);
    border-top: none;
   }
 
.gallery__title {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery__text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
 */


      /* footer */
      /* +  */
/* 
.footer {
    padding: 60px 0;
    background-color: var(--primary-lightblack-color);
}

.container__footer {
    display: flex;
    align-items: baseline;
}

.address {
    font-style: normal;
    margin-top: 20px;
 }

 .address__item {
    margin-bottom: 9px;
}

.address__link {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info__link {
    color: var(--primary-transparent-color);
    font-size: 14px;
    line-height: 1.7;  
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list .address__link:hover,
.address__list .address__link:focus {
    color: var(--accent-color);
}

.address__list .info__link:hover,
.address__list .info__link:focus {
    color: var(--accent-color);
} 




.holder {
    margin-left: 70px;
}

.holder__text {
font-size: 14px;
line-height: 1.14;
color: var(--primary-white-color);
margin-bottom: 20px ;
letter-spacing: 0.03em;
text-transform: uppercase;
font-weight: 700;
}

.holder__list{
    display: flex;
    justify-content: center;
}

.holder__item:not(:last-child) {
    margin-right: 10px;
}

.holder__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.holder__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-white-color);
}

.holder__link:hover,
.holder__link:focus {
    background-color: var(--accent-color);
}



.box {
    margin-left: auto;
}

.box__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.box__form {
     display: flex;
     align-items: center;
}

.box__input {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    width: 358px;
    height: 50px;
    background-color: var(--primary-lightblack-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;  
    color: var(--primary-transparent-color);
}
.box__icon {
    margin-left: 10px;
}

 */





            /* button */
            /* + */
/* 
.hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
    cursor: pointer;
}

.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.buttons__filter {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--primary-secondary-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:not(:first-child) {
    margin-left: 8px;
}

.buttons__filter:hover,
.buttons__filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.buttons__item .buttons__filter:hover,
.buttons__item .buttons__filter:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons .buttons__item:hover,
.buttons .buttons__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.box__btn {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);  
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


     /* bacdrop+modal */
        /* + */
/* 

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background-color: var(--primary-white-color);
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon {
position: absolute;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover {
    fill: var(--accent-color);
} */

      /* registration */
/* 
.form__tite {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.form__group {
    margin-bottom: 20px;
}

.form__field {
    position: relative;
    display: block;
}

.form__field:not(:last-child) {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 4px;
}

.form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.form__input:focus {
    border-color:var(--accent-color);
}

.form__input:focus + .form-icon {
    fill:var(--accent-color);
}

.form__icon {
    position: absolute;
    bottom: 11px;;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__message {
    display: block;
    width: 100%;
    height: 120%;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.form__message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}

.form__btn {
    display: block;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;    
    color: var(--primary-white-color);
    border: none;
    background-color: var(--primary-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    transform: scale(0);
}

.form__icon__check {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form__checkbox:checked + .form__checkbox__icon .form__icon__check {
    opacity: 0;
}

.form__icon__iconcheck {
   opacity: 0; 
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__checkbox__icon .form__icon__iconcheck {
    opacity: 1; 
    fill: var(--accent-color);
 }

.form__content__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    user-select: none;
}

.form__content__link {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--accent-color);
}
 */
