:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-blue-color:#188ce8;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --primary-lightblack-color:#2f303a;
    --primary-lightwhite-color: #eeeeee;
    --primary-whitegrey-color: #ececec;
    --primary-transparent-color: rgba(255, 255, 255, 0.6);  
    --primary-grey-color:  rgba(255, 255, 255, 0.1);
    --primary-link-color: #AFB1B8;
    --primary-background-color: #C4C4C4;
    --primary-secondary-color: #f5f4fa;
    --font-mayn: "Roboto", sans-serif;
    --font-secondary:"Raleway", sans-serif;   
}
