.header {
    border-bottom: 1px solid var(--primary-whitegrey-color)
}

.header__container {
    display: flex;
    align-items: center;   
}

.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em
}

.black__logo {
    color: var(--primary-black-color);
}

.white__logo {
    color: var(--primary-white-color);
}

